//
   Created by rafael on 30.04.2015.

extends layout
block vars
   - var location = pageData.location
   - var config = pageData.config
   - var isLoggedIn = pageData.isLoggedIn

block content
   div.main-container
      h2.sub-title Hier kannst du deine neuen Blogs erfassen
      div#blog-form-container
         form(action="/api/link" method="PUT" id="blog-form")
            div.form-row.clear-fix
               div.form-label
                  label(for="title") Titel
               div.form-input
                  input(class="border-box" type="text" id="title" data-model-name="title" name="title" minlength="2" required)
            div.form-row.clear-fix
               div.form-label
                  label(for="content") Content
               div.form-input
                  textarea(class="border-box" id="content" rows="4" cols="50" data-model-name="content" name="comment")
            div.form-row.clear-fix
               div.form-label
                  label(for="url") Link
               div.form-input
                  input(class="border-box" type="url" id="url" data-model-name="url" name="url" required)
            div.form-row.clear-fix
               button(type="submit", value="Submit" class="submit" id="post-blog-btn").form-submit-button Eingaben absenden
               button(type="reset", id="cancel-post-btn").form-cancel-button Abbrechen
   script(src="/javascript/blogForm.js")

