extends layout
block vars
  - var isLoggedIn = pageData.isLoggedIn
  - var location = pageData.location
  - var config = pageData.config
block content
  script(src="/javascript/customDatePicker.js")
  script(type="text/x-handlebars-template", id='blog-template').
    {{#each docs }}
    <div class="blog-list-item clear-fix">
      <div class="ranking-panel">
      {{#if hasVoted}}
            <div class="up-arrow rank arrows" data-direction="up" data-id="{{_id}}">
            {{#if voteUp}}
              <img src="/Images/arrow-up-active.png" alt="arrow up">
            {{else}}
              <img src="/Images/arrow-up.png" alt="arrow up">
            {{/if}}
            </div>
            <div class="index rank">
              <p class="index-number">{{rank}}</p>
            </div>
            <div class="down-arrow rank arrows" data-direction="down" data-id="{{_id}}">
            {{#if voteDown}}
              <img src="/Images/arrow-down-active.png" alt="arrow down">
            {{else}}
              <img src="/Images/arrow-down.png" alt="arrow down">
             {{/if}}
            </div>
        {{else}}
            <div class="up-arrow rank arrows" data-direction="up" data-id="{{_id}}">
              <img src="/Images/arrow-up.png" alt="arrow up">
            </div>
            <div class="index rank">
              <p class="index-number">{{rank}}</p>
            </div>
            <div class="down-arrow rank arrows" data-direction="down" data-id="{{_id}}">
              <img src="/Images/arrow-down.png" alt="arrow down">
            </div>
        {{/if}}
      </div>
      <div class="content-panel">
        {{#if isOwner}}
          <div class="title-bar">
            <a href="{{url}}" class="title-link blog-title-owner">
              <h3 class=blog-title>{{title}}</h3>
            </a>
            <button class="blog-title-delete-btn" data-blog-id="{{_id}}">
              Löschen
            </button>
            <div style="clear:both;"></div>
          </div>
        {{else}}
          <a href="{{url}}" class="title-link">
            <h3 class=blog-title>{{title}}</h3>
          </a>
        {{/if}}
        <p class="blog-content">{{content}}</p>
        <div class="meta-info">
          <p class="date-tag">Gepostet am {{date}} von {{author}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  div.main-container
    if isLoggedIn
      h2.sub-title #{pageData.username}, hier findest du alle Blogs!
    else
      h2.sub-title Hier findest du die neuesten Blogs
    div.filter-box
      div.sort-by-box
      div.search-box.clear-fix
        label(for="search-text") Suche nach:
        input(type="text" placeholder="..." id="search-text" class="margin-left")
      div.to-date-box.clear-fix
        label(for="to-date") Bis:
        input(type="date" id="to-date" class="margin-left")
      div.from-date-box.clear-fix
        label(for="from-date") Einträge vom:
        input(type="date" id="from-date" class="margin-left")

      div(style="clear:both;")
    div#blog-container
  script(src="/javascript/getData.js")

