doctype html
html
  block vars
  head
    title Olphrablog
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/stylesheets/jquery-ui.min.css")
    link(rel="stylesheet", href="/stylesheets/jquery-ui.structure.min.css")
    link(rel="stylesheet", href="/stylesheets/jquery-ui.theme.min.css")
    link(href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css')
  body
    script(src="/javascript/Utils.js")
    script(src="/javascript/libs/handlebars-v3.0.1.js")
    script(src="/javascript/libs/jquery-2.1.3.js")
    script(src="/javascript/libs/jquery-ui.min.js")
    script(src="/javascript/libs/jquery.validate.js")
    script(src="/javascript/libs/messages_de.js")
    script(src="/javascript/libs/moment.min.js")
    script(src="/javascript/PostFormComponent.js")
    script(src="/javascript/renderBlogComponent.js")
    script(src="/javascript/filterViewModelComponent.js")
    script(src="/javascript/CRUDComponent.js")
    script(src="/javascript/mainNav.js")
    div.body-container
      div.header
        h1.main-title Olphrablog
        ul.main-nav.clear-fix
          li.nav-item
            if location === config.homeURL
              a(href="/" class="highlighted") Alle Blogs
            else
              a(href="/") Alle Blogs
          li.nav-item
            if location === config.formURL
              a(href="/blogform" class="highlighted") Poste deine Gedanken!
            else
              a(href="/blogform") Poste deine Gedanken!
          if location === config.loginURL
            if isLoggedIn
              li.nav-item
                a(href="/logout" class="highlighted" id="log-out-btn") Log out
            else
              li.nav-item
                a(href="/login" class="highlighted") Logge dich ein!
          else
            if isLoggedIn
              li.nav-item
                a(href="/logout" id="log-out-btn") Log out
            else
              li.nav-item
                a(href="/login") Logge dich ein!
      block content
      div.footer Made by a bunch of humble students!