//
   Created by rafael on 06.05.2015.

extends layout
block vars
   - var location = pageData.location
   - var config = pageData.config
   - var isLoggedIn = pageData.isLoggedIn

block content
   h2 Logge dich ein!
   div#blog-login-container
      form(action="/auth/login" method="POST" id="login-form")
         div.form-row.clear-fix
            div.form-label
               label(for="username") Username
            div.form-input
               input(class="border-box" type="text" id="username" required name="username" data-model-name="username" minLength="3")
         div.form-row.clear-fix
            div.form-label
               label(for="password") Passwort
            div.form-input
               input(class="border-box" type="password" id="password" required name="user-name" data-model-name="password" minLength="3")
         div.form-row
            div(style="form-row" id="error-message")
         div.form-row.clear-fix
            button(type="submit", id="post-login-btn").form-submit-button Login
            button(type="reset", id="cancel-login-btn").form-cancel-button Abbrechen
            button(id="registration-login-btn").form-registration-button Zur Registrierung
   script(src="/javascript/login.js")