html *{
    font-family: 'Raleway', sans-serif;
}
body {
    padding: 0 1rem 1rem;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: -webkit-linear-gradient(#BEBEBE, #5D5562);
    background: -moz-linear-gradient(#BEBEBE, #5D5562);
    background: linear-gradient(#BEBEBE, #5D5562);
    background-attachment: fixed;
}

a {
    color: #00B7FF;
}

.footer, .header, .form-input > input, .form-input > textarea, .arrows, .rank > img  {
    width: 100%;
}

.main-title {
    font-size: 3rem;
}

.index-number {
    text-align: center;
}

.rank {
    width: 40%;
    margin: auto;
}

.date-tag {
    color: #2F6FAD;
    text-align: right;
}

.sub-title {
    font-size: 2rem;
    color: #5C5C5C;
}

.blog-title {
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    color: #5C5C5C;
    margin-bottom: 1rem;
    margin-top: 0;
}

.title-link {
    text-decoration: none;
}

.ranking-panel {
    width: 10%;
    float: left;
}

.blog-content {
    color: #595959;
}

.arrows:hover {
    cursor: pointer;
}

.content-panel {
    width: 90%;
    float: left;
}

.form-label, .form-input > input, .form-input > textarea {
    font-size: 1.2rem;
    color: #5C5C5C;
}

.from-date-box, .to-date-box, .search-box {
    float: right;
    margin-left: 1rem;
}

.filter-box {
    margin: 1rem 0;
}

.margin-left {
    margin-left: 0.6rem;
}

.form-label {
    float: left;
    width: 30%;
}

.form-input {
    float: left;
    width: 70%;
}

#blog-form-container, #blog-login-container, #blog-registration-container {
    width: 50%;
}

.form-row {
    margin-bottom: 1rem;
}
.form-registration-button, .form-cancel-button, .nav-item {
    margin-right: 1rem;
}
.form-registration-button {
    background-color: rgba(49, 55, 166, 1);
}

.form-cancel-button {
    background-color: rgba(255, 165, 0, 1);
}

.form-submit-button {
    background-color: rgba(0, 128, 0, 1);
}

.form-registration-button:hover {
    background-color: #0E1CA6;
}

.form-cancel-button:hover {
    background-color: #FF8E00;
}

.form-submit-button:hover {
    background-color: #3E8023;
}

.form-cancel-button, .form-submit-button, .form-registration-button {
    font-size: 1.2rem;
    color: white;
    border: 1px solid black;
    padding: 5px 10px;
    cursor: pointer;
}

.main-nav {
    -webkit-margin-before: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
}

.nav-item > a {
    color: #5C5C5C;
    text-decoration: none;
    font-size: 1.1rem;
}



.valid {
    border: 2px solid rgba(0, 128, 0, 1);
}

#error-message {
    color: red;
}

.meta-info {
    padding-right: 1rem;
}
.blog-title-owner {
    float: left;
    width: 85%;
}

.blog-title-delete-btn:hover {
    background-color: #FF0526;
}

.title-bar {
    margin-top: 0.3rem;
}

.footer {
    margin-left: 0.4rem;
    margin-top: 0.5rem;
    min-height: 2rem;
    text-align: center;
}

.blog-title-delete-btn {
    float: right;
    box-sizing: content-box;
    margin-right: 0.5rem;
    width: 10%;
    color: white;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 3px 3px 2px #969696;
}

.nav-item {
    float: left;
    list-style-type: none;
    background: white;
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
    box-shadow: 3px 3px 2px #6e6e6e;
}

.form-row > button{
    float: right;
    box-shadow: 3px 3px 2px #6e6e6e;
}

.blog-list-item {
    clear: both;
    background: white;
    box-shadow: 6px 6px 12px #6e6e6e;
    margin-bottom: 0.3rem;
}

.form-input > input, .filter-box input {
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    box-shadow: 3px 3px 2px #6e6e6e;
}
.form-input > textarea {
    border: none;
    box-shadow: 3px 3px 2px #6e6e6e;
}

.body-container {
    width: 75%;
    margin: auto;
    background-color: #f5f5f5;
    padding: 0 0.4rem;
    box-shadow: 10px 10px 5px #6e6e6e;
}

.body-container, .form-input > textarea, .form-input > input, .filter-box input, .blog-list-item, .form-row > button, .nav-item, .blog-title-delete-btn{
    border-radius: 5px;
}

.main-title, .nav-item > .highlighted {
    color: #ea2828;
}
.blog-title-delete-btn {
    background-color: #ea2828;
}
.clear-fix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.border-box {
    box-sizing: border-box;
}

@keyframes redFadeShadow {
    0% {
        background: none;
    }
    50% {
        background: #ff887a;
    }
    100% {
        background: none;
        border: 2px solid #ff887a;
    }
}
.error{
    animation-name: redFadeShadow;
    animation-duration: 2s;
    border-radius: 5px;
}